USE [master]
GO
/****** Object:  Database [TicketToolDB]    Script Date: 10-07-2023 00:14:29 ******/
CREATE DATABASE [TicketToolDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketToolDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TicketToolDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketToolDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TicketToolDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketToolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketToolDB]
GO
/****** Object:  Table [dbo].[TicketMaster]    Script Date: 10-07-2023 00:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketNo] [varchar](50) NOT NULL,
	[TicketTitle] [varchar](255) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Mobile] [numeric](10, 0) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[AssignedTo] [int] NULL,
	[Status] [int] NOT NULL,
	[IsCompleted] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_TicketMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10-07-2023 00:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Username], [Password], [CreatedOn], [Status]) VALUES (1, N'Rushikesh', N'Nikumbh', N'admin', N'1234', CAST(N'2023-07-09T23:27:11.513' AS DateTime), 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Username], [Password], [CreatedOn], [Status]) VALUES (2, N'Dinesh', N'Singh', N'SPOC', N'1234', CAST(N'2023-07-09T23:27:11.620' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
